%p#notice= notice

%p
  %b User:
  = @wish.user_id
%p
  %b Quantity:
  = @wish.quantity
%p
  %b Product:
  = @wish.product_id

= link_to 'Edit', edit_wish_path(@wish)
\|
= link_to 'Back', wishes_path
