- content_for :header do 
  = render 'header_normal'
  .container
    = render 'messages' 


   
- content_for :graphic do 
  = image_path("section-10.jpg")

- content_for :brand do 
  = link_to "Bacchan.al", root_path, class: "navbar-brand"

- content_for :navlinks do 
  = render 'application/header/authentication_links'


.main

  %section.module
    .container
      .row
        .col-sm-8.col-sm-offset-2
          %h4.font-alt.mb-0 Dashboard

          %hr.divider-w.mt-10.mb-20/
          %div{:role => "tabpanel"}
            - panels = %w[user admin orgs settings]
            %ul.nav.nav-tabs.font-alt{:role => "tablist"}
              - panels.each do |panel|
                %li{ class: panel == "user" ? "active" : "" }
                  %a{"data-toggle" => "tab", :href => "##{panel}"}
                    %span.icon-basket
                    = panel
            .tab-content
              - panels.each do |panel|
                .tab-pane.fade{ id: panel, class: panel == "user" ? "in active" : ""}
                  = render "#{panel}" 

