- content_for :header do 
  = render 'normal_header'
   
- content_for :graphic do 
  = image_path("section-10.jpg")

- content_for :brand do 
  = link_to "Bacchan.al", root_path, class: "navbar-brand"

- content_for :navlinks do 
  = render 'application/header/authentication_links'


.main
  %section.module
    .container
      .row
        .col-sm-8.col-sm-offset-2
          %h4.font-alt.mb-0 Dashy

          %hr.divider-w.mt-10.mb-20/
          %div{:role => "tabpanel"}
            %ul.nav.nav-tabs.font-alt{:role => "tablist"}
              - Dir["app/views/dashboard/*/"].each_with_index do |directory, i|
                %li{ class: i == 2 ? "active" : "" }
                  %a{"data-toggle" => "tab", :href => "##{directory.split("/").last}"}
                    %span.icon-basket
                    = directory.split("/").last
            .tab-content
              - Dir["app/views/dashboard/*/"].each_with_index do |directory, i|
                - dashboard = directory.split("/").last
                .tab-pane.fade{ id: dashboard, class: i == 2 ? "in active" : ""}
                  = render "#{dashboard}" 

