.comment.clearfix
  .comment-avatar
    = link_to image_tag("commenter-thumb.jpg")
  .comment-content.clearfix
    .comment-author.font-alt
      = link_to comment.commenter.name
    .comment-body
      %p= comment.content
    .comment-meta.font-alt
      = time_ago_in_words(comment.created_at)
      ago.
      / = link_to "Reply", new_polymorphic_path([@commentable, Comment.new],parent_id: comment)
      / = link_to "reply", new_comment_path, id: "new_link", remote: true
      = link_to "delete", comment, confirm: "Whoah, you sure?", method: :delete
  = nested_comments comment.children

