.comment.clearfix{ id: "comment-#{comment.id}"}
  .comment-avatar
    = link_to image_tag("commenter-thumb.jpg")
  .comment-content.clearfix
    .comment-author.font-alt
      = link_to comment.commenter.name
    .comment-body
      %p= comment.content
    .comment-meta.font-alt 
      = time_ago_in_words(comment.created_at)
      ago.
      - if policy(@comment).new?
        = link_to "reply", new_comment_path(comment: { parent_id: comment.id }), id: "reply-to-comment-#{comment.id}", remote: true
      - if policy(comment).destroy?
        = link_to "delete", comment, method: :delete, id: "delete-comment-#{comment.id}", remote: true
  .row
    .nested-comment{ id: "nested-comment-ex-#{comment.id}"}

  = nested_comments comment.children

