.comment.clearfix{ id: "comment-#{comment.id}" }
  .comment-avatar
    = link_to image_tag("commenter-thumb.jpg")
  .comment-content.clearfix
    .comment-author.font-alt
      = link_to comment.commenter.name
    .comment-body
      %p= comment.content
    .comment-meta.font-alt
      = time_ago_in_words(comment.created_at)
      ago.
      / = link_to "Reply", new_polymorphic_path([@commentable, Comment.new],parent_id: comment)
      - if policy(@comment).new?
        = link_to "reply", new_comment_path(comment: { parent_id: comment.id }), id: "new-reply-to-#{comment.id}", remote: true
      / = link_to "delete", comment, class: "delete-comment", confirm: "Whoah, you sure?", method: :delete
      / .comment-form
      / = render partial: "comments/form", locals: { parent_id: comment.id}
      



      / = link_to "reply", new_comment_path, id: "reply-to", data: { id: comment.id }, remote: true
      / # = link_to "reply", "#", :id => "reply-to-comment", :"data-id" => mcomment.id


  = nested_comments comment.children

