.comment.clearfix{ id: "comment-#{comment.id}"}
  .comment-avatar
    = link_to image_tag("commenter-thumb.jpg")
  .comment-content.clearfix
    .comment-author.font-alt
      = link_to comment.commenter.name
    .comment-body
      %p= comment.content
    .comment-meta.font-alt 
      .comment-age.pull-left
        = time_ago_in_words(comment.created_at) + " ago"
      
      .comment-actions.pull-right
        - if policy(comment).destroy?
          = link_to comment, method: :delete, id: "delete-comment-#{comment.id}", remote: true do
            %i.fa.fa-trash-o
        - if policy(comment).update?
          = link_to edit_comment_path(comment),  id: "edit-comment-#{comment.id}", remote: true do
            %i.fa.fa-edit
        - if policy(@comment).new?
          = link_to new_comment_path(comment: { parent_id: comment.id }), remote: true do
            %i.fa.fa-comment-o
      .comment-reply-cancel.pull-right{ id: "cancel-reply-#{comment.id}" }
        = link_to "cancel"

      
    .comment-reply
  .row
    
    .nested-comment

  = nested_comments comment.children

