.comment-form{ id: "#{@comment.parent.nil? ? nil : "comment-form-#{@comment.parent.id}"}" }    
  %h4.comment-form-title.font-alt= comment_call_to_action(@comment)
  = simple_form_for @comment, remote: true do |f|

    - unless @comment.parent.nil?
      = f.hidden_field :parent_id, value: @comment.parent.id
    / = f.hidden_field :commentable_type, value: @comment
    / = f.hidden_field :commentable_id, value: params[:id]
    .form-group
      = f.input :content, label: false, as: :text, input_html: { rows: 7 }, class: "form-control"
    .form-actions
      = f.button :submit, class: "btn btn-round btn-d"
      / %button.btn.btn-round.btn-d{ class: "cancel-btn", id: parent_id }
      /   cancel
      
