- present @user do |presenter| 
  .panel-heading
    %h4.panel-title.font-alt
      %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#positions"}
        Your positions
  #positions.panel-collapse.collapse.in
    .panel-body
      %table.table.table-condensed
        %thead
          %tr
            %th title
            %th organization      
            %th description
            %th tenure start
            %th tenure end
        %tbody
          - presenter.positions.each do |position|
            %tr
              %td= position.title
              %td= position.org.name
              %td= truncate(position.description)
              %td= time_ago_in_words(position.tenure_start)
              %td= position.tenure_end ? time_ago_in_words(position.tenure_end) : "current"
      = form_for(:position, url: positions_path, method: :post) do |f|
        .col-sm-6
          .form-group
            = f.text_field :title, placeholder: "Job or position title", class: "form-control"
        .col-sm-6
          .form-group
            = f.text_field :org_name, placeholder: "Organization name", data: {autocomplete_source: Org.order(:name).map(&:name)}, class: "form-control"
        .col-sm-12
          .form-group
            = f.text_area :description, placeholder: "description", class: "form-control"
        .col-sm-12
          .form-group
            = f.submit "create a new position", class: "btn btn-success btn-block" 


          / %button.btn.btn-success.btn-round{:type => "button"}
          /   %i.fa.fa-paper-plane-o
          /     Submit  
      / = form_for(@product) do |f|
      /   .field
      /     = f.label :name
      /     %br/
      /     = f.text_field :name
      /   .field
      /     = f.label :price
      /     %br/
      /     = f.text_field :price
      /   .field
      /     = f.label :category_id
      /     %br/
      /     = f.collection_select :category_id, Category.order(:name), :id, :name, include_blank: true
      /   .actions
      /     = f.submit


      / = form_for :position do |f|
      /   .col-sm-12
      /     / = f.error_notification
      /   .col-sm-12
      /     .col-sm-3
      /       / = f.input :title
      /     .col-sm-3
      /       = f.text_field :org
      /     .col-sm-3
      /       #searchresults
      /       / = f.input :org, collection: @continents, as: :grouped_select, group_method: :countries


