- present @user do |presenter| 
  .panel-heading
    %h4.panel-title.font-alt
      %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#positions"}
        Your positions
  #positions.panel-collapse.collapse.in
    .panel-body
      %table.table.table-condensed
        %thead
          %tr
            %th title
            %th organization      
            %th description
            %th tenure start
            %th tenure end
        %tbody
          - presenter.positions.each do |position|
            %tr
              %td= position.title
              %td= position.try(:positionable).try(:name)
              %td= truncate(position.description)
              / %td= time_ago_in_words(position.try(:tenure_start))
              / %td= position.tenure_end ? time_ago_in_words(position.tenure_end) : "current"
      = form_for(:position, url: positions_path, method: :post) do |f|

        .col-sm-6
          .form-group
            = f.label :title
            = f.hidden_field :user_id, value: current_user.id
            = f.hidden_field :positionable_type, value: "Org"
            = f.text_field :title, placeholder: "Job or position title", class: "form-control"
          .form-group
            = f.label :tenure_begin
            = f.text_field :tenure_start, class: "form-control"
        .col-sm-6
          .form-group
            = f.label :positionable_tokens, "Organization"
            = f.text_field :positionable_tokens, class: "form-control"
          .form-group
            = f.label :tenure_end
            = f.text_field :tenure_end, class: "form-control" 
        .col-sm-12
          .form-group
            = f.text_area :description, placeholder: "description", class: "form-control"
        .col-sm-12
          .form-group
            = f.submit "create a new position", class: "btn btn-success btn-block" 



