.module-small.bg-dark
  .container
    .row
      .col-sm-3
        / Widget start
        .widget
          %h5.widget-title.font-alt
            / = @org.name /
            story
          / = simple_format(@org.mission)
          %p
            Phone: +1 510 207 3450
          %p
            Email:
            = mail_to "fred.schoeneman@gmail.com"
        / Widget end
      .col-sm-3
        / Widget start
        .widget
          %h5.widget-title.font-alt Recent Comments
          %ul.icon-list
            - @bloggable.comments.each do |comment|
              %li
                = comment.commenter.name 
                on
                = link_to comment.commentable.title.titleize, poly_path(comment.commentable)
        / Widget end
      .col-sm-3
        / Widget start
        .widget
          %h5.widget-title.font-alt Categories
          %ul.icon-list
            - @bloggable.owned_taggings.where(context: "categories").last(5).each do |tagging|
              %li
                = link_to tagging.tag
        / Widget end
      .col-sm-3
        / Widget start
        .widget
          %h5.widget-title.font-alt Popular articles
          %ul.widget-posts
            - @articles.last(3).each do |article|
              %li.clearfix
                .widget-posts-image
                  = link_to image_tag("rp-1.jpg"), poly_path(article)
                .widget-posts-body
                  .widget-posts-title
                    = link_to article.title, poly_path(article)
                  .widget-posts-meta
                    = link_to "#{time_ago_in_words(article.created_at)} ago.", poly_path(article)
