!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %title Rival - Multipurpose Template
    / CSS
    %link{:href => "assets/bootstrap/css/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "assets/css/simpletextrotator.css", :rel => "stylesheet"}/
    %link{:href => "assets/css/font-awesome.min.css", :rel => "stylesheet"}/
    %link{:href => "assets/css/et-line-font.css", :rel => "stylesheet"}/
    %link{:href => "assets/css/magnific-popup.css", :rel => "stylesheet"}/
    %link{:href => "assets/css/flexslider.css", :rel => "stylesheet"}/
    %link{:href => "assets/css/owl.carousel.css", :rel => "stylesheet"}/
    %link{:href => "assets/css/animate.css", :rel => "stylesheet"}/
    %link{:href => "assets/css/style.css", :rel => "stylesheet"}/
  %body
    / Preloader
    .page-loader
      .loader Loading...
    / Navigation start
    %nav.navbar.navbar-custom.navbar-fixed-top{:role => "navigation"}
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => "#custom-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "index.html"} Rival
        #custom-collapse.collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Home
              %ul.dropdown-menu
                %li.dropdown
                  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} One Page
                  %ul.dropdown-menu
                    %li
                      %a{:href => "index.html"} Image Parallax 1
                    %li
                      %a{:href => "index-2.html"} Image Parallax 2
                    %li
                      %a{:href => "index-3.html"} Slider Parallax 1
                    %li
                      %a{:href => "index-4.html"} Slider Parallax 2
                    %li
                      %a{:href => "index-5.html"} Text rotator 1
                    %li
                      %a{:href => "index-6.html"} Text rotator 2
                    %li
                      %a{:href => "index-7.html"} Gradient Overlay 1
                    %li
                      %a{:href => "index-8.html"} Gradient Overlay 2
                    %li
                      %a{:href => "index-9.html"} Video background 1
                    %li
                      %a{:href => "index-10.html"} Video background 2
                %li.dropdown
                  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Multi Page
                  %ul.dropdown-menu
                    %li
                      %a{:href => "mp-index.html"} Image Parallax 1
                    %li
                      %a{:href => "mp-index-2.html"} Image Parallax 2
                    %li
                      %a{:href => "mp-index-3.html"} Slider Parallax 1
                    %li
                      %a{:href => "mp-index-4.html"} Slider Parallax 2
                    %li
                      %a{:href => "mp-index-5.html"} Text rotator 1
                    %li
                      %a{:href => "mp-index-6.html"} Text rotator 2
                    %li
                      %a{:href => "mp-index-7.html"} Gradient Overlay 1
                    %li
                      %a{:href => "mp-index-8.html"} Gradient Overlay 2
                    %li
                      %a{:href => "mp-index-9.html"} Video background 1
                    %li
                      %a{:href => "mp-index-10.html"} Video background 2
                %li.dropdown
                  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Restaurant
                  %ul.dropdown-menu
                    %li
                      %a{:href => "restaurant-index-1.html"} Image Parallax
                    %li
                      %a{:href => "restaurant-index-2.html"} Slider Parallax
                    %li
                      %a{:href => "restaurant-index-3.html"} Video background
                    %li
                      %a{:href => "restaurant-index-4.html"} Text rotator
                %li.dropdown
                  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Shop
                  %ul.dropdown-menu
                    %li
                      %a{:href => "shop-index-1.html"} Image Parallax
                    %li
                      %a{:href => "shop-index-2.html"} Slider Parallax
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Pages
              %ul.dropdown-menu
                %li.dropdown
                  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} About
                  %ul.dropdown-menu
                    %li
                      %a{:href => "about.html"} About 1
                    %li
                      %a{:href => "about2.html"} About 2
                    %li
                      %a{:href => "about3.html"} About 3
                    %li
                      %a{:href => "about4.html"} About 4
                    %li
                      %a{:href => "about5.html"} About 5
                %li.dropdown
                  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Services
                  %ul.dropdown-menu
                    %li
                      %a{:href => "services.html"} Services 1
                    %li
                      %a{:href => "services2.html"} Services 2
                    %li
                      %a{:href => "services3.html"} Services 3
                %li.dropdown
                  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Pricing
                  %ul.dropdown-menu
                    %li
                      %a{:href => "pricing.html"} Pricing 1
                    %li
                      %a{:href => "pricing2.html"} Pricing 2
                %li.dropdown
                  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Gallery
                  %ul.dropdown-menu
                    %li
                      %a{:href => "gallery-2col.html"} 2 Columns
                    %li
                      %a{:href => "gallery-3col.html"} 3 Columns
                    %li
                      %a{:href => "gallery-4col.html"} 4 Columns
                    %li
                      %a{:href => "gallery-6col.html"} 6 Columns
                %li.dropdown
                  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Contact
                  %ul.dropdown-menu
                    %li
                      %a{:href => "contact.html"} Contact 1
                    %li
                      %a{:href => "contact2.html"} Contact 2
                    %li
                      %a{:href => "contact3.html"} Contact 3
                %li.dropdown
                  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Restaurant menu
                  %ul.dropdown-menu
                    %li
                      %a{:href => "restaurant-menu-1.html"} Menu 2 Columns
                    %li
                      %a{:href => "restaurant-menu-2.html"} Menu 3 Columns
                %li
                  %a{:href => "login-register.html"} Login / Register
                %li
                  %a{:href => "page-faq.html"} FAQ
                %li
                  %a{:href => "404.html"} Page 404
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Portfolio
              %ul.dropdown-menu{:role => "menu"}
                %li.dropdown
                  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Boxed
                  %ul.dropdown-menu
                    %li
                      %a{:href => "portfolio-boxed-col2.html"} 2 Columns
                    %li
                      %a{:href => "portfolio-boxed-col3.html"} 3 Columns
                    %li
                      %a{:href => "portfolio-boxed-col4.html"} 4 Columns
                    %li
                      %a{:href => "portfolio-boxed-col5.html"} 5 Columns
                    %li
                      %a{:href => "portfolio-boxed-hover-black.html"} Hover Black
                    %li
                      %a{:href => "portfolio-boxed-hover-gradient.html"} Hover Gradient
                %li.dropdown
                  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Boxed - Gutter
                  %ul.dropdown-menu
                    %li
                      %a{:href => "portfolio-boxed-gutter-col2.html"} 2 Columns
                    %li
                      %a{:href => "portfolio-boxed-gutter-col3.html"} 3 Columns
                    %li
                      %a{:href => "portfolio-boxed-gutter-col4.html"} 4 Columns
                    %li
                      %a{:href => "portfolio-boxed-gutter-col5.html"} 5 Columns
                    %li
                      %a{:href => "portfolio-boxed-gutter-hover-black.html"} Hover Black
                    %li
                      %a{:href => "portfolio-boxed-gutter-hover-gradient.html"} Hover Gradient
                %li.dropdown
                  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Boxed - Masonry
                  %ul.dropdown-menu
                    %li
                      %a{:href => "portfolio-boxed-masonry-col2.html"} 2 Columns
                    %li
                      %a{:href => "portfolio-boxed-masonry-col3.html"} 3 Columns
                    %li
                      %a{:href => "portfolio-boxed-masonry-col4.html"} 4 Columns
                    %li
                      %a{:href => "portfolio-boxed-masonry-col5.html"} 5 Columns
                    %li
                      %a{:href => "portfolio-boxed-masonry-hover-black.html"} Hover Black
                    %li
                      %a{:href => "portfolio-boxed-masonry-hover-gradient.html"} Hover Gradient
                %li.dropdown
                  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Wide
                  %ul.dropdown-menu
                    %li
                      %a{:href => "portfolio-wide-col2.html"} 2 Columns
                    %li
                      %a{:href => "portfolio-wide-col3.html"} 3 Columns
                    %li
                      %a{:href => "portfolio-wide-col4.html"} 4 Columns
                    %li
                      %a{:href => "portfolio-wide-col5.html"} 5 Columns
                    %li
                      %a{:href => "portfolio-wide-hover-black.html"} Hover Black
                    %li
                      %a{:href => "portfolio-wide-hover-gradient.html"} Hover Gradient
                %li.dropdown
                  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Wide - Gutter
                  %ul.dropdown-menu
                    %li
                      %a{:href => "portfolio-wide-gutter-col2.html"} 2 Columns
                    %li
                      %a{:href => "portfolio-wide-gutter-col3.html"} 3 Columns
                    %li
                      %a{:href => "portfolio-wide-gutter-col4.html"} 4 Columns
                    %li
                      %a{:href => "portfolio-wide-gutter-col5.html"} 5 Columns
                    %li
                      %a{:href => "portfolio-wide-gutter-hover-black.html"} Hover Black
                    %li
                      %a{:href => "portfolio-wide-gutter-hover-gradient.html"} Hover Gradient
                %li.dropdown
                  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Wide - Masonry
                  %ul.dropdown-menu
                    %li
                      %a{:href => "portfolio-wide-masonry-col2.html"} 2 Columns
                    %li
                      %a{:href => "portfolio-wide-masonry-col3.html"} 3 Columns
                    %li
                      %a{:href => "portfolio-wide-masonry-col4.html"} 4 Columns
                    %li
                      %a{:href => "portfolio-wide-masonry-col5.html"} 5 Columns
                    %li
                      %a{:href => "portfolio-wide-masonry-hover-black.html"} Hover Black
                    %li
                      %a{:href => "portfolio-wide-masonry-hover-gradient.html"} Hover Gradient
                %li.dropdown
                  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Single
                  %ul.dropdown-menu
                    %li
                      %a{:href => "portfolio-single-1.html"} Single 1
                    %li
                      %a{:href => "portfolio-single-2.html"} Single 2
                    %li
                      %a{:href => "portfolio-single-3.html"} Single 3
                    %li
                      %a{:href => "portfolio-single-4.html"} Single 4
                    %li
                      %a{:href => "portfolio-single-5.html"} Single 5
                    %li
                      %a{:href => "portfolio-single-6.html"} Single 6
                    %li
                      %a{:href => "portfolio-single-7.html"} Single 7
                    %li
                      %a{:href => "portfolio-single-8.html"} Single 8
                    %li
                      %a{:href => "portfolio-single-9.html"} Single 9
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Blog
              %ul.dropdown-menu{:role => "menu"}
                %li.dropdown
                  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Standart
                  %ul.dropdown-menu
                    %li
                      %a{:href => "blog-standart-left.html"} Sidebar Left
                    %li
                      %a{:href => "blog-standart-right.html"} Sidebar Right
                %li.dropdown
                  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Grid
                  %ul.dropdown-menu
                    %li
                      %a{:href => "blog-grid-2col.html"} 2 Columns
                    %li
                      %a{:href => "blog-grid-3col.html"} 3 Columns
                    %li
                      %a{:href => "blog-grid-4col.html"} 4 Columns
                %li.dropdown
                  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Masonry
                  %ul.dropdown-menu
                    %li
                      %a{:href => "blog-grid-masonry-2col.html"} 2 Columns
                    %li
                      %a{:href => "blog-grid-masonry-3col.html"} 3 Columns
                    %li
                      %a{:href => "blog-grid-masonry-4col.html"} 4 Columns
                %li.dropdown
                  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Single
                  %ul.dropdown-menu
                    %li
                      %a{:href => "blog-single-left.html"} Sidebar Left
                    %li
                      %a{:href => "blog-single-right.html"} Sidebar Right
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Features
              %ul.dropdown-menu{:role => "menu"}
                %li
                  %a{:href => "comp-alerts-wells.html"}
                    %i.fa.fa-bolt
                    Alerts and Wells
                %li
                  %a{:href => "comp-buttons.html"}
                    %i.fa.fa-link.fa-sm
                    Buttons
                %li
                  %a{:href => "comp-collapses-tabs.html"}
                    %i.fa.fa-tasks
                    Collapses &amp; Tabs
                %li
                  %a{:href => "comp-content-box.html"}
                    %i.fa.fa-list-alt
                    Contents Box
                %li
                  %a{:href => "comp-forms.html"}
                    %i.fa.fa-check-square-o
                    Forms
                %li
                  %a{:href => "comp-icons.html"}
                    %i.fa.fa-star
                    Icons
                %li
                  %a{:href => "comp-progress-bars.html"}
                    %i.fa.fa-server
                    Progress Bars
                %li
                  %a{:href => "comp-typography.html"}
                    %i.fa.fa-font
                    Typography
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Shop
              %ul.dropdown-menu{:role => "menu"}
                %li.dropdown
                  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Home
                  %ul.dropdown-menu
                    %li
                      %a{:href => "shop-index-1.html"} Image Parallax
                    %li
                      %a{:href => "shop-index-2.html"} Slider Parallax
                %li.dropdown
                  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Grid
                  %ul.dropdown-menu
                    %li
                      %a{:href => "shop-grid-col-3.html"} 3 columns
                    %li
                      %a{:href => "shop-grid-col-4.html"} 4 columns
                %li
                  %a{:href => "shop-product.html"} Product
                %li
                  %a{:href => "shop-checkout.html"} Checkout
            %li
              %a  
            / CART
            %li.dropdown.navbar-cart
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                %span.icon-basket
                %span.cart-item-number 2
              %ul.dropdown-menu.cart-list{:role => "menu"}
                %li
                  .navbar-cart-item.clearfix
                    .navbar-cart-img
                      %a{:href => "#"}
                        %img{:alt => "", :src => "assets/images/shop/product-9.jpg"}/
                    .navbar-cart-title
                      %a{:href => "#"} Short striped sweater
                      %span.cart-amount 2 × $119.00
                      %br/
                      %strong.cart-amount $238.00
                %li
                  .navbar-cart-item.clearfix
                    .navbar-cart-img
                      %a{:href => "#"}
                        %img{:alt => "", :src => "assets/images/shop/product-10.jpg"}/
                    .navbar-cart-title
                      %a{:href => "#"} Colored jewel rings
                      %span.cart-amount 2 × $119.00
                      %br/
                      %strong.cart-amount $238.00
                %li
                  / navbar-cart-item
                  .clearfix
                    .cart-sub-totle
                      %strong Total: $476.00
                %li
                  .clearfix
                    %a.btn.btn-block.btn-round.btn-font-w{:type => "submit"} Checkout
            / /CART
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Search
              %ul.dropdown-menu{:role => "menu"}
                %li
                  .dropdown-search
                    %form{:role => "form"}
                      %input.form-control{:placeholder => "Search...", :type => "text"}/
                      %button.search-btn{:type => "submit"}
                        %i.fa.fa-search
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} English
              %ul.dropdown-menu{:role => "menu"}
                %li
                  %a{:href => "#"} English
                %li
                  %a{:href => "#"} France
                %li
                  %a{:href => "#"} Germany
    .main
      %section.module-small.bg-dark.bg-dark-30{"data-background" => "assets/images/section-8.jpg"}
        .container
          .row
            .col-sm-6.col-sm-offset-3
              %h1.module-title.font-alt= @bloggable.name
              .module-subtitle.font-serif.mb-0
                Odds, Ends.
      %section.module
        .container
          .row
            .col-sm-8
              - @articles.each do |article|
                .post
                  .post-thumbnail
                    = link_to image_tag("post-4.jpg"), poly_path(article)
                  .post-header.font-alt
                    %h2.post-title
                      = link_to article.title, poly_path(article)
                      .post-meta
                        By
                        = link_to article.author.name, "#"
                        | 
                        = time_ago_in_words(article.created_at) + " ago." 
                        | 
                        = pluralize(article.comments.count, 'comment')
                        | Tags:
                        - article.tag_list.each do |tag|
                          = succeed "," do
                            = link_to tag
                  .post-entry
                    %p= simple_format(truncate(article.content, length: 250))
                  .post-more
                    %a.more-link{:href => "blog-single-right.html"} Read more
              .post
                .post-header.font-alt
                  %h2.post-title
                    %a{:href => "blog-single-left.html"} Post with text only
                  .post-meta
                    By
                    %a{:href => "#"} Mark Stone
                    | 23 November | 3 Comments |
                    = succeed "," do
                      %a{:href => "#"} Marketing
                    %a{:href => "#"} Web Design
                .post-entry
                  %p truncate(article.content, 300)
                .post-more
                  %a.more-link{:href => "blog-single-right.html"} Read more
              / Post text only end
              / Post quote start
              .post
                .post-quote
                  %blockquote.font-serif
                    %p " The languages only differ in their grammar, their pronunciation and their most common words. Everyone realizes why a new common language would be desirable: one could refuse to pay expensive translators. "
                    %p.font-inc.font-uppercase - Thomas Anderson
              / Post quote end
              / Post video start
              / .post
              /   .post-video
              /     %iframe{:allowfullscreen => "", :height => "250", :src => "//www.youtube.com/embed/zpOULjyy-n8?rel=0", :width => "420"}
              /   .post-header.font-alt
              /     %h2.post-title
              /       %a{:href => "blog-single-left.html"} Post with video
              /     .post-meta
              /       By
              /       %a{:href => "#"} Mark Stone
              /       | 23 November | 3 Comments |
              /       = succeed "," do
              /         %a{:href => "#"} Marketing
              /       %a{:href => "#"} Web Design
              /   .post-entry
              /     %p A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.
              /   .post-more
              /     %a.more-link{:href => "blog-single-right.html"} Read more
              / / Post video end
              / / Post slider start
              / .post
              /   .post-images-slider
              /     %ul.slides
              /       %li
              /         %img{:alt => "", :src => "assets/images/post-4.jpg"}/
              /       %li
              /         %img{:alt => "", :src => "assets/images/post-5.jpg"}/
              /   .post-header.font-alt
              /     %h2.post-title
              /       %a{:href => "blog-single-left.html"} Post with slideshow
              /     .post-meta
              /       By
              /       %a{:href => "#"} Mark Stone
              /       | 23 November | 3 Comments |
              /       = succeed "," do
              /         %a{:href => "#"} Marketing
              /       %a{:href => "#"} Web Design
              /   .post-entry
              /     %p A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.
              /   .post-more
              /     %a.more-link{:href => "blog-single-right.html"} Read more
              / Post slider end
              / Pagination start
              .pagination.font-alt
                %a{:href => "#"}
                  %i.fa.fa-angle-left
                %a.active{:href => "#"} 1
                %a{:href => "#"} 2
                %a{:href => "#"} 3
                %a{:href => "#"} 4
                %a{:href => "#"}
                  %i.fa.fa-angle-right
              / Pagination end
            / Content column end
            / Sidebar column start
            .col-sm-4.col-md-3.col-md-offset-1.sidebar
              / Widget start
              .widget
                %form{:role => "form"}
                  .search-box
                    %input.form-control{:placeholder => "Search...", :type => "text"}/
                    %button.search-btn{:type => "submit"}
                      %i.fa.fa-search
              / Widget end
              / Widget start
              .widget
                %h5.widget-title.font-alt Categories
                %ul.icon-list
                  %li
                    %a{:href => "#"} Photography - 7
                  %li
                    %a{:href => "#"} Web Design - 3
                  %li
                    %a{:href => "#"} Illustration - 12
                  %li
                    %a{:href => "#"} Marketing - 1
                  %li
                    %a{:href => "#"} WordPress - 16
              / Widget end
              / Widget start
              .widget
                %h5.widget-title.font-alt Popular posts
                %ul.widget-posts
                  %li.clearfix
                    .widget-posts-image
                      %a{:href => "#"}
                        %img{:alt => "", :src => "assets/images/rp-1.jpg"}/
                    .widget-posts-body
                      .widget-posts-title
                        %a{:href => "#"} Designer Desk Essentials
                      .widget-posts-meta
                        23 November
                  %li.clearfix
                    .widget-posts-image
                      %a{:href => "#"}
                        %img{:alt => "", :src => "assets/images/rp-2.jpg"}/
                    .widget-posts-body
                      .widget-posts-title
                        %a{:href => "#"} Realistic Business Card Mockup
                      .widget-posts-meta
                        15 November
                  %li.clearfix
                    .widget-posts-image
                      %a{:href => "#"}
                        %img{:alt => "", :src => "assets/images/rp-3.jpg"}/
                    .widget-posts-body
                      .widget-posts-title
                        %a{:href => "#"} Eco bag Mockup
                      .widget-posts-meta
                        5 November
                  %li.clearfix
                    .widget-posts-image
                      %a{:href => "#"}
                        %img{:alt => "", :src => "assets/images/rp-4.jpg"}/
                    .widget-posts-body
                      .widget-posts-title
                        %a{:href => "#"} Bottle Mockup
                      .widget-posts-meta
                        1 November
              / Widget end
              / Widget start
              .widget
                %h5.widget-title.font-alt Tags
                .tags.font-serif
                  %a{:href => "#", :rel => "tag"} Blog
                  %a{:href => "#", :rel => "tag"} Photo
                  %a{:href => "#", :rel => "tag"} Video
                  %a{:href => "#", :rel => "tag"} Image
                  %a{:href => "#", :rel => "tag"} Minimal
                  %a{:href => "#", :rel => "tag"} Post
                  %a{:href => "#", :rel => "tag"} Theme
                  %a{:href => "#", :rel => "tag"} Ideas
                  %a{:href => "#", :rel => "tag"} Tags
                  %a{:href => "#", :rel => "tag"} Bootstrap
                  %a{:href => "#", :rel => "tag"} Popular
                  %a{:href => "#", :rel => "tag"} English
              / Widget end
              / Widget start
              .widget
                %h5.widget-title.font-alt Text
                The languages only differ in their grammar, their pronunciation and their most common words. Everyone realizes why a new common language would be desirable: one could refuse to pay expensive translators.
              / Widget end
              / Widget start
              .widget
                %h5.widget-title.font-alt Recent Comments
                %ul.icon-list
                  %li
                    Maria on
                    %a{:href => "#"} Designer Desk Essentials
                  %li
                    John on
                    %a{:href => "#"} Realistic Business Card Mockup
                  %li
                    Andy on
                    %a{:href => "#"} Eco bag Mockup
                  %li
                    Jack on
                    %a{:href => "#"} Bottle Mockup
                  %li
                    Mark on
                    %a{:href => "#"} Our trip to the Alps
              / Widget end
            / Sidebar column end
          / .row
      / Blog standar end
      / Widgets start
      .module-small.bg-dark
        .container
          .row
            .col-sm-3
              / Widget start
              .widget
                %h5.widget-title.font-alt About Rival
                %p The languages only differ in their grammar, their pronunciation and their most common words.
                %p
                  Phone: +1 234 567 89 10
                  %br>/
                  Fax: +1 234 567 89 10
                %p
                  Email:
                  %a{:href => "#"} somecompany@example.com
              / Widget end
            .col-sm-3
              / Widget start
              .widget
                %h5.widget-title.font-alt Recent Comments
                %ul.icon-list
                  %li
                    Maria on
                    %a{:href => "#"} Designer Desk Essentials
                  %li
                    John on
                    %a{:href => "#"} Realistic Business Card Mockup
                  %li
                    Andy on
                    %a{:href => "#"} Eco bag Mockup
                  %li
                    Jack on
                    %a{:href => "#"} Bottle Mockup
                  %li
                    Mark on
                    %a{:href => "#"} Our trip to the Alps
              / Widget end
            .col-sm-3
              / Widget start
              .widget
                %h5.widget-title.font-alt Categories
                %ul.icon-list
                  %li
                    %a{:href => "#"} Photography - 7
                  %li
                    %a{:href => "#"} Web Design - 3
                  %li
                    %a{:href => "#"} Illustration - 12
                  %li
                    %a{:href => "#"} Marketing - 1
                  %li
                    %a{:href => "#"} WordPress - 16
              / Widget end
            .col-sm-3
              / Widget start
              .widget
                %h5.widget-title.font-alt Popular posts
                %ul.widget-posts
                  %li.clearfix
                    .widget-posts-image
                      %a{:href => "#"}
                        %img{:alt => "", :src => "assets/images/rp-1.jpg"}/
                    .widget-posts-body
                      .widget-posts-title
                        %a{:href => "#"} Designer Desk Essentials
                      .widget-posts-meta
                        23 November
                  %li.clearfix
                    .widget-posts-image
                      %a{:href => "#"}
                        %img{:alt => "", :src => "assets/images/rp-2.jpg"}/
                    .widget-posts-body
                      .widget-posts-title
                        %a{:href => "#"} Realistic Business Card Mockup
                      .widget-posts-meta
                        15 November
              / Widget end
          / .row
      / Widgets end
      / Divider
      %hr.divider-d/
      / Divider
      / Footer start
      %footer.footer.bg-dark
        .container
          .row
            .col-sm-6
              %p.copyright.font-alt
                © 2015
                = succeed "," do
                  %a{:href => "index.html"} Rival
            .col-sm-6
              .footer-social-links
                %a{:href => "#"}
                  %i.fa.fa-facebook
                %a{:href => "#"}
                  %i.fa.fa-twitter
                %a{:href => "#"}
                  %i.fa.fa-dribbble
                %a{:href => "#"}
                  %i.fa.fa-skype
          / .row
      / Footer end
      / Wrapper start
      / Scroll-up
      .scroll-up
      %a{:href => "#totop"}
        %i.fa.fa-angle-double-up
