- content_for :resource_name do 

  = @org.name
.main
  = render "top"
  %section.module
    .container
      .row
        .col-sm-8
          - @articles.each do |article|
            .post
              .post-thumbnail
                = link_to image_tag("post-4.jpg"), poly_path(article)
              .post-header.font-alt
                %h2.post-title
                  = link_to article.title, poly_path(article)
                  .post-meta
                    By
                    = link_to article.author.name, "#"
                    | 
                    = time_ago_in_words(article.created_at) + " ago." 
                    | 
                    = pluralize(article.comments.count, 'comment')
                    | Tags:
                    - article.all_tags_list.each_with_index do |tag, i|
                      = i == 0 ? "" : ","
                      = link_to tag
              .post-entry
                = simple_format(truncate(article.content, length: 250))
              .post-more
                = link_to "Read more", poly_path(article), class: "more-link"
          
          .pagination.font-alt
            = paginate @articles
        = render "side"
  / = render 'widgets'
/   %hr.divider-d/
/   / Divider
/   / Footer start
/   / = render "footer"
/   / Footer end
/   / Wrapper start
/   / Scroll-up
/ .scroll-up
/ %a{:href => "#totop"}
/   %i.fa.fa-angle-double-up
/ / 