.main
  %section.module
    .container
      .row
        .col-sm-8
          .post
            .post-thumbnail
              = link_to image_tag("post-4.jpg"), poly_path(@article)
            .post-header.font-alt
              %h1.post-title
                = link_to @article.title, poly_path(@article)
              .post-meta
                By
                = link_to @article.author.name, "#"
                |
                = time_ago_in_words(@article.created_at) + " ago."
                | 
                = pluralize(@article.comments.count, 'comment')
                | Tags:
                - @article.all_tags_list.each_with_index do |tag, i|
                  = i == 0 ? "" : ","
                  = link_to tag
            .post-entry
              = simple_format(@article.content)
          / Comments start
          .comments
            %h4.comment-title.font-alt There are 3 comments
            / Comment 1 start
            .comment.clearfix
              .comment-avatar
                %img{:alt => "avatar", :src => "https://s3.amazonaws.com/uifaces/faces/twitter/ryanbattles/128.jpg"}/
              .comment-content.clearfix
                .comment-author.font-alt
                  %a{:href => "#"} John Doe
                .comment-body
                  %p The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary. The European languages are members of the same family. Their separate existence is a myth.
                .comment-meta.font-alt
                  Today, 14:55 -
                  %a{:href => "#"} Reply
              / Comment 2 start
              .comment.clearfix
                .comment-avatar
                  %img{:alt => "avatar", :src => "https://s3.amazonaws.com/uifaces/faces/twitter/draganbabic/128.jpg"}/
                .comment-content.clearfix
                  .comment-author.font-alt
                    %a{:href => "#"} Mark Stone
                  .comment-body
                    %p Europe uses the same vocabulary. The European languages are members of the same family. Their separate existence is a myth.
                  .comment-meta.font-alt
                    Today, 14:55 -
                    %a{:href => "#"} Reply
              / Comment 2 end
            / Comment 1 end
            / Comment 3 start
            .comment.clearfix
              .comment-avatar
                %img{:alt => "avatar", :src => "https://s3.amazonaws.com/uifaces/faces/twitter/pixeliris/128.jpg"}/
              .comment-content.clearfix
                .comment-author.font-alt
                  %a{:href => "#"} Andy
                .comment-body
                  %p The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary. The European languages are members of the same family. Their separate existence is a myth.
                .comment-meta.font-alt
                  Today, 14:55 -
                  %a{:href => "#"} Reply
            / Comment 3 end
          / Comments end
          / Comment form start
          .comment-form
            %h4.comment-form-title.font-alt Add your comment
            %form{:method => "post"}
              .form-group
                %label.sr-only{:for => "name"} Name
                %input#name.form-control{:name => "name", :placeholder => "Name", :type => "text"}/
              .form-group
                %label.sr-only{:for => "email"} Name
                %input#email.form-control{:name => "email", :placeholder => "E-mail", :type => "text"}/
              .form-group
                %textarea#comment.form-control{:name => "comment", :placeholder => "Comment", :rows => "4"}
              %button.btn.btn-round.btn-d{:type => "submit"} Post comment
          / Comment form end
        / Content column end
        / Sidebar column start
        .col-sm-4.col-md-3.col-md-offset-1.sidebar
          / Widget start
          .widget
            %form{:role => "form"}
              .search-box
                %input.form-control{:placeholder => "Search...", :type => "text"}/
                %button.search-btn{:type => "submit"}
                  %i.fa.fa-search
          / Widget end
          / Widget start
          .widget
            %h5.widget-title.font-alt Categories
            %ul.icon-list
              %li
                %a{:href => "#"} Photography - 7
              %li
                %a{:href => "#"} Web Design - 3
              %li
                %a{:href => "#"} Illustration - 12
              %li
                %a{:href => "#"} Marketing - 1
              %li
                %a{:href => "#"} WordPress - 16
          / Widget end
          / Widget start
          .widget
            %h5.widget-title.font-alt Popular posts
            %ul.widget-posts
              %li.clearfix
                .widget-posts-image
                  %a{:href => "#"}
                    %img{:alt => "", :src => "assets/images/rp-1.jpg"}/
                .widget-posts-body
                  .widget-posts-title
                    %a{:href => "#"} Designer Desk Essentials
                  .widget-posts-meta
                    23 November
              %li.clearfix
                .widget-posts-image
                  %a{:href => "#"}
                    %img{:alt => "", :src => "assets/images/rp-2.jpg"}/
                .widget-posts-body
                  .widget-posts-title
                    %a{:href => "#"} Realistic Business Card Mockup
                  .widget-posts-meta
                    15 November
              %li.clearfix
                .widget-posts-image
                  %a{:href => "#"}
                    %img{:alt => "", :src => "assets/images/rp-3.jpg"}/
                .widget-posts-body
                  .widget-posts-title
                    %a{:href => "#"} Eco bag Mockup
                  .widget-posts-meta
                    5 November
              %li.clearfix
                .widget-posts-image
                  %a{:href => "#"}
                    %img{:alt => "", :src => "assets/images/rp-4.jpg"}/
                .widget-posts-body
                  .widget-posts-title
                    %a{:href => "#"} Bottle Mockup
                  .widget-posts-meta
                    1 November
          / Widget end
          / Widget start
          .widget
            %h5.widget-title.font-alt Tags
            .tags.font-serif
              %a{:href => "#", :rel => "tag"} Blog
              %a{:href => "#", :rel => "tag"} Photo
              %a{:href => "#", :rel => "tag"} Video
              %a{:href => "#", :rel => "tag"} Image
              %a{:href => "#", :rel => "tag"} Minimal
              %a{:href => "#", :rel => "tag"} Post
              %a{:href => "#", :rel => "tag"} Theme
              %a{:href => "#", :rel => "tag"} Ideas
              %a{:href => "#", :rel => "tag"} Tags
              %a{:href => "#", :rel => "tag"} Bootstrap
              %a{:href => "#", :rel => "tag"} Popular
              %a{:href => "#", :rel => "tag"} English
          / Widget end
          / Widget start
          .widget
            %h5.widget-title.font-alt Text
            The languages only differ in their grammar, their pronunciation and their most common words. Everyone realizes why a new common language would be desirable: one could refuse to pay expensive translators.
          / Widget end
          / Widget start
          .widget
            %h5.widget-title.font-alt Recent Comments
            %ul.icon-list
              %li
                Maria on
                %a{:href => "#"} Designer Desk Essentials
              %li
                John on
                %a{:href => "#"} Realistic Business Card Mockup
              %li
                Andy on
                %a{:href => "#"} Eco bag Mockup
              %li
                Jack on
                %a{:href => "#"} Bottle Mockup
              %li
                Mark on
                %a{:href => "#"} Our trip to the Alps
          / Widget end
        / Sidebar column end
      / .row
  / Post single end
