%p#notice= notice

%p
  %b Name:
  = @org.name
%p
  %b Type:
  = @org.type
%p
  %b Slug:
  = @org.slug
%p
  %b Properties:
  = @org.properties

= link_to 'Edit', edit_org_path(@org)
\|
= link_to 'Back', orgs_path
