%li= link_to "Home", "#home", class: "section-scroll"
%li= link_to "About", "#about", class: "section-scroll"
%li= link_to "Features", "#features", class: "section-scroll"
%li= link_to "Works", "#works", class: "section-scroll"
%li= link_to "Team", "#team", class: "section-scroll"
%li= link_to "Pricing", "#pricing", class: "section-scroll"
%li= link_to "News", "#news", class: "section-scroll"
%li= link_to "Contact", "#contact", class: "section-scroll"
