/ Pricing start
%section#pricing.module
  .container
    .row
      .col-sm-6.col-sm-offset-3
        %h2.module-title.font-alt Pricing
        .module-subtitle.font-serif
          :markdown 
            Our pricing will never be cheaper. Any of these plans is a steal. Seriously, thief. Stop. Thief.
          
          
    .row.multi-columns-row
      - pricing_plans.each_with_index do |plan, index|
        .col-sm-6.col-md-3.col-lg-3
          .price-table.font-alt{ class: plan[:highlighted] ? "best" : "" }

            %h4
              = plan[:name]
            - if plan[:highlighted] == true 
              %p.small Best Choice

            .borderline
            %p.price
              %span> $
              = plan[:price]
            %ul.price-details
              - features_list.each do |feature|
                %li{"data-toggle" => "tooltip", :href => "#", :title => feature[:description]}
                  - if feature[:plan].nil?
                    = feature[:name]
                  - elsif feature[:plan] == "unlimited"
                    = "unlimited " + feature[:name].pluralize
                  - elsif feature[:plan][index] == true
                    = feature[:name]
                  - elsif feature[:plan][index].is_a? Integer
                    = pluralize(feature[:plan][index], feature[:name])
                  - else
                    %span
                      - if feature[:singular]
                        = feature[:name]
                      - else
                        = feature[:name].pluralize
            %a.btn.btn-d.btn-round{:href => "#"} Sign Up

    .row.mt-40
      .col-sm-6.col-sm-offset-3.align-center
        .module-subtitle.font-serif
          :markdown
            Most of our features and pages are also available for free, though some may be supported with tasteful advertisements. If you stick with them, you'll be just fine. But if you choose a paid plan, you're encouraging ice cold new features and helping people think a bit more about where their food comes from.  
