%section#pricing.module
  .container
    .row
      .col-sm-4.col-sm-offset-4
        %h2.module-title.font-alt Monthly Pricing
        .module-subtitle.font-serif
          :markdown 
            Per month. They will never be cheaper. 


          
          
    .row.multi-columns-row
      - pricing_plans.each_with_index do |plan, index|
        .col-sm-6.col-md-4.col-lg-4
          .price-table.font-alt{ class: plan[:highlighted] ? "best" : "" }

            %h3
              = plan[:name]
            - if plan[:highlighted] == true 
              %p.small Best Choice

            .borderline
            %p.price
              %span> $
              = plan[:price]
            %br
            %p.small includes
            %br
            %ul.price-details
              
              - priceable_features.each do |f|
                %li{"data-toggle" => "tooltip", :href => "#", :title => feature(f)[:description]}
                  - if feature(f)[:plan].nil?
                    = feature(f)[:name]
                  - elsif feature(f)[:plan] == "unlimited"
                    = "unlimited " + feature(f)[:name].pluralize
                  - elsif feature(f)[:plan][index] == true
                    = feature(f)[:name]
                  - elsif feature(f)[:plan][index].is_a? Integer
                    = pluralize(feature(f)[:plan][index], feature(f)[:name])
                  - else
                    %span
                      - if feature(f)[:singular]
                        = feature(f)[:name]
                      - else
                        = feature(f)[:name].pluralize

            /   - open_bar_features.each do |f|
            /     %li{"data-toggle" => "tooltip", :href => "#", :title => feature(f)[:description]}
            /       - if feature(f)[:plan].nil?
            /         = feature(f)[:name]
            /       - elsif feature(f)[:plan] == "unlimited"
            /         = feature(f)[:name].pluralize
            /       - elsif feature(f)[:plan][index] == true
            /         = feature(f)[:name]
            /       - elsif feature(f)[:plan][index].is_a? Integer
            /         = pluralize(feature(f)[:plan][index], feature(f)[:name])
            /       - else
            /         %span
            /           - if feature(f)[:singular]
            /             = feature(f)[:name]
            /           - else
            /             = feature(f)[:name].pluralize

            / %hr

            %a.btn.btn-d.btn-round{:href => "#"} Sign Up

    .row.mt-40
      .col-sm-6.col-sm-offset-3.align-center
        .module-subtitle.font-serif
          :markdown
            Not seeing the value of our plans or just can't afford one? Most of our features and pages are also available for free, though some may be supported with tasteful advertisements. We really do want to help you differentiate and succeed and make money, and this site should help you do that no matter what. But if you do choose one of our paid plans, you'll be encouraging ice cold new features and helping people to think about where their food comes from and why it all matters.   
