
%section#team.module
  .container
    .row
      .col-sm-6.col-sm-offset-3
        %h2.module-title.font-alt Your hosts
        .module-subtitle.font-serif
          = Faker::Stoked.sentences(2)
    .row
      .div{ class: "col-sm-offset-2"}
        - @company.positions.each do |position|
          .col-sm-6.col-md-3.mb-sm-20.wow.fadeInUp
            .team-item
              .team-image
                - if position.user.avatar 
                  - avatar = position.user.avatar
                  = image_tag(avatar.image.thumb('500x680#').url) if avatar.image_stored?
                - else 
                  %img{:alt => "", :src => image_path("team-1.jpg")}
                .team-detail
                  %h5.font-alt
                    = position.title
                  %p.font-serif
                    = position.description
                  .team-social
                    - position.user.identities.each do |identity|
                      %a{:href => identity.link}
                        %i.fa{ class: "fa-#{identity.provider}"}
              .team-descr.font-alt
                .team-name= position.user.name
                .team-role= position.title
