%section#wineries.module.pb-0
  .container
    .row
      .col-sm-6.col-sm-offset-3
        %h2.module-title.font-alt Wineries
    .row
      .col-sm-12
        %ul#filters.filter.font-alt.hidden-xs
          %a.current.wow.fadeInUp{"data-filter" => "*", :href => "#"} 
            Appellations:
          - @appellations.each_with_index do |appellation, index|
            %a.wow.fadeInUp{"data-filter" => ".#{appellation.name.parameterize}", "data-wow-delay" => "0.2s", :href => "#"}
              = index == 0 ? "" : "| "
              = appellation.name

          
  %ul#works-grid.works-grid.works-grid-gut.works-grid-3.works-hover-w
    - @wineries.each do |winery|
      %li.work-item{ class: appellation_classes(winery.appellations.pluck(:name))}
        = link_to winery do
          - photo = winery.default_gallery.slides.first.photo 
          = image_tag(photo.image.thumb('900x600#').url) if photo.image_stored?
          .work-caption.font-alt
            %h3.work-title
              = winery.name
            .work-descr
              = winery.default_gallery.slides.first.call_to_action

