- content_for :head do 
  = render 'meta_tags'

- content_for :header do
  = render 'header_transparent' 

- content_for :footer do
  .col-sm-2
    .copyright.font-alt
      © 2015
      = link_to "Bacchan.al", root_url
  .col-sm-6.col-sm-offset-2 
    .font-alt
      - static_section_links.each do |section|
        = link_to section.capitalize, "##{section}", class: "section-scroll"  
      - static_page_links.each do |page|
        = link_to page, send("#{page}_path")
  .col-sm-2
    .footer-social-links
      - @company.identities.each do |identity| 
        %a{:href => identity.link}
          %i.fa{ class: "fa-#{identity.provider}" }


= render 'wineries'
= render 'manifesto'
= render 'count_to'
= render 'team'
= render 'callout'
/ %hr.divider-w/
= render 'pricing'
= render 'wine_quotes'
/ = render 'latest_articles'
/ = render 'map'
