= render 'parallax'
.main
  = render 'wineries'
  %hr.divider-w/
  = render 'callout'
  = render 'manifesto'
  / = render 'alt_features'
  %hr.divider-w/
  / = render 'team'
  = render 'count_to'
  = render 'wine_quotes'
  = render 'latest_articles'
  = render 'map'
  