- content_for :brand do 
  = link_to "Bacchan.al", root_path, class: "navbar-brand"
- content_for :navlinks do 
  = render 'application/header/navigation_links' unless current_user
  = render 'application/header/authentication_links'
- content_for :banner do 
  = render 'home_banner'
= render 'parallax'
.main
  = render 'wineries'
  %hr.divider-w/
  = render 'callout'
  = render 'manifesto'
  / = render 'alt_features'
  %hr.divider-w/
  = render 'team'
  = render 'count_to'
  = render 'wine_quotes'
  = render 'latest_articles'
  = render 'map'
  