.main
  = render 'manifesto'
  %hr.divider-w/
  = render 'features'
  = render 'wineries'
  = render 'callout'
  / = render 'alt_features'
  %hr.divider-w/
  = render 'team'
  = render 'count_to'
  = render 'pricing'
  = render 'wine_quotes'
  = render 'latest_articles'
  = render 'subscribe'
  = render 'map'
  