- content_for :footer do
  .col-sm-2
    .copyright.font-alt
      © 2015
      = link_to "Bacchan.al", root_url
  .col-sm-6.col-sm-offset-2 
    .font-alt
      - static_section_links.each do |section|
        = link_to section.capitalize, "##{section}", class: "section-scroll"  
      - static_page_links.each do |page|
        = link_to page, send("#{page}_path")
  .col-sm-2
    .footer-social-links
    
      %a{:href => "#"}
        %i.fa.fa-facebook
      %a{:href => "#"}
        %i.fa.fa-twitter
      %a{:href => "#"}
        %i.fa.fa-dribbble
      %a{:href => "#"}
        %i.fa.fa-skype

  .font-alt
    - static_section_links.each do |section|
      = link_to section.capitalize, "##{section}", class: "section-scroll"  
    - static_page_links.each do |page|
      = link_to page, send("#{page}_path")
- content_for :footer_brand do
  .copyright.font-alt
    © 2015
    = link_to "Bacchan.al", root_url

- content_for :brand do 
  = link_to "Bacchan.al", root_path, class: "navbar-brand"
- content_for :navlinks do 
  = render 'application/header/navigation_links' unless current_user
  = render 'application/header/authentication_links'
- content_for :banner do 
  = render 'home_banner'
= render 'parallax'
.main
  = render 'wineries'
  %hr.divider-w/
  = render 'callout'
  = render 'manifesto'
  / = render 'alt_features'
  / %hr.divider-w/
  = render 'count_to'
  = render 'team'
  = render 'wine_quotes'
  / = render 'latest_articles'
  / = render 'map'
  