- content_for :head do
  = render 'meta_tags'

- content_for :header

- content_for :carousel do
  %section#home.home-section.home-parallax.home-fade.home-full-height.bg-dark-60{ "data-background" => image_url("abstract-4.jpg") }
    .hs-caption
      .caption-content
        .col-sm-8.col-sm-offset-2
          .hs-title-size-1.font-alt.mb-30
            Bacchan.al is for the
          .hs-title-size-4.font-alt.mb-40
            %span
              .rotate wineries | vineyards | lovers | farmers | cooks | artists
        .col-sm-6.col-sm-offset-3
          %a.section-scroll.btn.btn-border-w.btn-block.btn-round{:href => "#about"}
            %h5 the manifesto for the reading
- content_for :footer_links do
  - static_section_links.each do |section|
    = link_to section.capitalize, "##{section}", class: "section-scroll"
  - static_page_links.each do |page|
    = link_to page, send("#{page}_path")

= render 'wineries'
= render 'manifesto'
= render 'count_to'
= render 'team'
= render 'callout'

/ %hr.divider-w/
-# = render 'alt_features'
= render 'pricing'
/ = render 'wine_quotes'
/ = render 'latest_articles'
/ = render 'map'
