- content_for :brand do 
  = link_to "Bacchan.al", root_path, class: "navbar-brand"
- content_for :navlinks do 
  = render 'application/header/navigation_links' unless current_user
  = render 'application/header/authentication_links'

- content_for :banner do
  .hs-caption
    .caption-content
      .col-sm-8.col-sm-offset-2
        .hs-title-size-1.font-alt.mb-30
          Even 
          / .hs-title-size-1.font-alt.mb-30  
        .hs-title-size-4.font-alt.mb-40
          %span 
            .rotate Our Features | Have Features 
      .col-sm-4.col-sm-offset-4
        %a.section-scroll.btn.btn-border-w.btn-block.btn-round{:href => "#pricing"}  
          %h5 sign me up!

= render 'parallax'
.main
  / = render 'features'
  = render 'pricing'