= simple_form_for :photos, method: "post", url: {controller: "photos", action: "create"} do |f|
  = f.error_notification

  .form-inputs
    = f.hidden_field :photographable_type, :value => photographable.class
    = f.hidden_field :photographable_id, :value => photographable.id
    = f.input :name
    = f.input :caption
    = f.file_field :image

  .form-actions
    = f.button :submit
