%section#wines.module.pb-0
  .container
    .row
      .col-sm-6.col-sm-offset-3
        %h2.module-title.font-alt Wines
    .row
      .col-sm-12
        %ul#filters.filter.font-alt
          - %w[appellations vintages varietals].each_with_index do |partial, i|
            - unless i == 0
              %hr
            %li
              %a.current.wow.fadeInUp{"data-filter" => "*", :href => "#"}
                = partial + ":           "
            = render partial
    .row
      .col-sm-12
        %ul#works-grid.works-grid.works-grid-gut.works-grid-5
          - unless @winery.wines.empty?
            - @winery.wines.each do |wine|
              = link_to winery_wine_path(@winery.slug, wine.slug), class: "work-item vintage-#{wine.vintage} #{sortable_classes(wine.appellations.pluck(:name))} #{sortable_classes(wine.varietals)}" do
                .work-image
                  - unless wine.nil?
                    - img = wine.try(:default_photo).try(:image)
                    = image_tag(img.thumb('500x600#').url) if wine.default_photo.image_stored?
                .work-caption.font-alt
                  %h3.work-title= wine.name
                  .work-descr
                    = wine.vintage
