%section#wines.module.pb-0
  .container
    .row
      .col-sm-6.col-sm-offset-3
        %h2.module-title.font-alt Wines
    .row
      .col-sm-12
        = render "vintages"
    .row
      .col-sm-12
        = render "categories"
    / .row
    /   .col-sm-12
    /     / = render "appellations"
    .row
      .col-sm-12
        %ul#works-grid.works-grid.works-grid-gut.works-grid-5
          - @winery.wines.each do |wine|
            = link_to winery_wine_path(@winery.id, wine.id), class: "work-item vintage-#{wine.vintage} appellation_classes(wine.appellations.pluck(:name))" do
              .work-image
                - img = wine.default_photo.image
                = image_tag(img.thumb('500x600#').url) if wine.default_photo.image_stored?  
              .work-caption.font-alt
                %h3.work-title= wine.name
                .work-descr
                  = wine.vintage
