- content_for :footer do
  .col-sm-8
    .copyright.font-alt
      © #{@winery.created_at.year}
      = @winery.name
  .col-sm-2
    .footer-social-links
      - @winery.identities.each do |identity|
        %a{:href => identity.link}
          %i.fa{ class: "fa-#{identity.provider}"}

- content_for :navlinks do 
  = render 'application/header/authentication_links'
- content_for :banner do 
  = render 'static/home_banner'

- present @winery do |winery_presenter| 

  = render "carousel"
  .main
    = render "wines"
    = render "positions"
