%footer.footer.bg-dark.navbar.navbar-default.navbar-fixed-bottom
  .container
    .row
      .col-sm-2
        .copyright.font-alt
          © 2015
          = link_to "Bacchan.al", root_url
      .col-sm-6.col-sm-offset-2 
        .font-alt
          - static_page_links.each do |page|
            = link_to page, send("#{page}_path")
          - static_section_links.each do |section|
            
            = link_to section.capitalize, "##{section}", class: "section-scroll"  
      .col-sm-2
        .footer-social-links
        
          %a{:href => "#"}
            %i.fa.fa-facebook
          %a{:href => "#"}
            %i.fa.fa-twitter
          %a{:href => "#"}
            %i.fa.fa-dribbble
          %a{:href => "#"}
            %i.fa.fa-skype
