.module-small.bg-dark
  .container
    .row
      .col-sm-3
        .widget
          %h5.widget-title.font-alt About Bacchan.al
          %p Bacchan.al helps small famers and food producers differentiate themselves from bigger, less careful ones.
          %p
            Phone: +1 510 207 3450
          %p
            Email:
            = mail_to "fred.schoeneman@bacchan.al"
      .col-sm-3
        .widget
          %h5.widget-title.font-alt Recent Comments
          %ul.icon-list
            - Comment.last(5).each do |comment|
              %li
                = link_to comment.commenter.name, profile_path(comment.commenter)
                on
                = link_to comment.commentable.title.titleize, polymorphic_path([comment.commentable.org, comment.commentable])

      .col-sm-3
        .widget
          %h5.widget-title.font-alt Categories
          %ul.icon-list
            - %w[wine winery event competition article].each do |m|
              %li
                = link_to m.pluralize.capitalize + " " + m.pluralize.classify.constantize.count.to_s, "#"
      .col-sm-3
        .widget
          %h5.widget-title.font-alt Recent articles
          %ul.widget-posts
            - Article.last(2).each do |article|
              %li.clearfix
                .widget-posts-image
                  = link_to(image_tag("rp-1.jpg"), "#")
                .widget-posts-body
                  .widget-posts-title
                    = link_to article.title, polymorphic_path([article.org, article])
                  .widget-posts-meta
                    = distance_of_time_in_words(article.created_at, Time.now)
                    ago
