%section.module
  .container
    .row
      .col-sm-6.mb-sm-40
        - unless @wine.default_photo.nil?
          = image_tag(@wine.default_photo.image.thumb('500x600#').url)
      .col-sm-6
        .row
          .col-sm-12
            %h1.product-title.font-alt= @wine.vintage + " " + @wine.name
            .col-sm-4
              / = render "sunburst"
              = render "review_summary"
            .col-sm-8
              .product_meta
                - @wine.composition.each do |c|
                  .row
                    = c.values.first.to_s + "\% "
                    = c.keys.first
        = render 'add_to_wishlist'   

    .row.mt-70
      .col-sm-12
        / Nav tabs start
        %ul.nav.nav-tabs.font-alt{:role => "tablist"}
          %li.active
            %a{"data-toggle" => "tab", :href => "#reviews"} Reviews (#{@wine.curated_reviews.count})
          %li
            %a{"data-toggle" => "tab", :href => "#description"} Description
          %li
            %a{"data-toggle" => "tab", :href => "#data-sheet"} Data sheet
          %li
            %a{"data-toggle" => "tab", :href => "#documentation"} Documentation
        / Nav tabs end
        / Tab panes start
        .tab-content
          #documentation.tab-pane
            - @wine.attachments.each do |attachment| 
              %dl.dl-horizontal
                %dt
                  = link_to attachment.attachment.url do 
                    %i.fa.fa-2x{ class: icon_for_extension(attachment.filename_extension) }
                    = attachment.name
                %dd
                  = attachment.summary

          / Tab start
          #description.tab-pane
            %p= @wine.description
          / Tab end
          / Tab start
          #data-sheet.tab-pane
            %table.table.table-striped.ds-table
              %tbody
                %tr
                  %th Title
                  %th Info
                %tr 
                  %td TA G/L
                  %td 7.2
                %tr
                  %td pH
                  %td 3.38
                %tr
                  %td Clones
                  %td 828, Pommard, Waldenswil 2A
                %tr
                  %td Alcohol
                  %td 13.9%
                %tr
                  %td Brix
                  %td 23.8
                %tr
                  %td Regimen
                  %td 100% French Oak, 20% new
          / Tab end
          / Tab start
          #reviews.tab-pane.active
            / Reviews start
            .comments.reviews
              - @wine.curated_reviews.each do |review|
                .comment.clearfix
                  .comment-avatar
                    - avatar = review.reviewer.avatar
                    = image_tag(avatar.image.thumb('50x50#').url) if avatar.image_stored?
                  .comment-content.clearfix
                    .comment-author.font-alt
                      = link_to review.reviewer.name
                    .comment-body
                      %p= review.content
                    .comment-meta.font-alt
                      = time_ago_in_words(review.updated_at) + " ago"
            .comment-form.mt-30
              = render "review_form"
          / Tab end
        / Tab panes end
    / .row
/ Divider
%hr.divider-w/
%section.module
  .container
    .row
      .col-sm-6.col-sm-offset-3
        %h2.module-title.font-alt Previous vintages
    / .row
    .row
      / Owl-carousel start
      .owl-carousel.text-center{"data-items" => "5", "data-navigation" => "false", "data-pagination" => "false"}
        / ex-product start
        - @wine.previous_vintages.each do |pv|
          .owl-item
            .col-sm-12
              .ex-product
                %a{:href => "#"}
                  = link_to(image_tag(pv.default_photo.image.thumb('250x300#').url), winery_wine_path(pv.winery.slug, pv.slug))
                %h4.shop-item-title.font-alt
                  = pv.vintage
                  = pv.name
                = "\$" + pv.price

