%section.module
  .container
    .row
      .col-sm-6.mb-sm-40
        = image_tag(@wine.default_photo.image.thumb('500x600#').url)
      .col-sm-6
        .row
          .col-sm-12
            %h1.product-title.font-alt= @wine.vintage + " " + @wine.name
        / = render "reviews_summary"
        .row.mb-20
          .col-sm-12
            .col-sm-3
              .price.font-alt
                %span.amount= "$" + @wine.price
            .col-sm-9
              .product_meta
                .pull-right
                - @wine.composition.each do |component|
                  = component.values.first.to_s
                  = component.keys.first
                  

    .row.mt-70
      .col-sm-12
        / Nav tabs start
        %ul.nav.nav-tabs.font-alt{:role => "tablist"}
          %li.active
            %a{"data-toggle" => "tab", :href => "#description"} Description
          %li
            %a{"data-toggle" => "tab", :href => "#data-sheet"} Data sheet
          %li
            %a{"data-toggle" => "tab", :href => "#reviews"} Reviews (2)
          %li
            %a{"data-toggle" => "tab", :href => "#documentation"} Documentation
        / Nav tabs end
        / Tab panes start
        .tab-content
          #documentation.tab-pane.active
            - @wine.attachments.each do |attachment| 
              %p= link_to attachment.name, attachment.attachment.url
          / Tab start
          #description.tab-pane
            %p= @wine.description
          / Tab end
          / Tab start
          #data-sheet.tab-pane
            %table.table.table-striped.ds-table
              %tbody
                %tr
                  %th Title
                  %th Info
                %tr
                  %td Compositions
                  %td Jeans
                %tr
                  %td Size
                  %td 44, 46, 48
                %tr
                  %td Color
                  %td Black
                %tr
                  %td Brand
                  %td Somebrand
          / Tab end
          / Tab start
          #reviews.tab-pane
            / Reviews start
            .comments.reviews
              / Review 1 start
              .comment.clearfix
                .comment-avatar
                  - avatar = @wine.winery.positions.first.user.avatar

                  = image_tag(avatar.image.thumb('50x50#').url) if avatar.image_stored?
                  / %img{:alt => "avatar", :src => "https://s3.amazonaws.com/uifaces/faces/twitter/ryanbattles/128.jpg"}/
                .comment-content.clearfix
                  .comment-author.font-alt
                    %a{:href => "#"} John Doe
                  .comment-body
                    %p The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary. The European languages are members of the same family. Their separate existence is a myth.
                  .comment-meta.font-alt
                    Today, 14:55 -
                    %span
                      %i.fa.fa-star.star
                    %span
                      %i.fa.fa-star.star
                    %span
                      %i.fa.fa-star.star
                    %span
                      %i.fa.fa-star.star
                    %span
                      %i.fa.fa-star.star-off
              / Review 1 end
              / Review 2 start
              .comment.clearfix
                .comment-avatar
                  %img{:alt => "avatar", :src => "https://s3.amazonaws.com/uifaces/faces/twitter/draganbabic/128.jpg"}/
                .comment-content.clearfix
                  .comment-author.font-alt
                    %a{:href => "#"} Mark Stone
                  .comment-body
                    %p Faker::Stoked.sentences(3)
                  .comment-meta.font-alt
                    Today, 14:55 -
                    %span
                      %i.fa.fa-star.star
                    %span
                      %i.fa.fa-star.star
                    %span
                      %i.fa.fa-star.star
                    %span
                      %i.fa.fa-star.star-off
                    %span
                      %i.fa.fa-star.star-off
              / Review 2 end
            / Reviews end
            / Review form start
            .comment-form.mt-30
              %h4.comment-form-title.font-alt Add review
              %form{:method => "post"}
                .row
                  .col-sm-4
                    .form-group
                      %label.sr-only{:for => "name"} Name
                      %input#name.form-control{:name => "name", :placeholder => "Name", :type => "text"}/
                  .col-sm-4
                    .form-group
                      %label.sr-only{:for => "email"} Name
                      %input#email.form-control{:name => "email", :placeholder => "E-mail", :type => "text"}/
                  .col-sm-4
                    .form-group
                      %select.form-control
                        %option{:disabled => "disabled", :selected => "true"} Rating
                        %option{:value => "1"} 1
                        %option{:value => "2"} 2
                        %option{:value => "3"} 3
                        %option{:value => "4"} 4
                        %option{:value => "5"} 5
                  .col-sm-12
                    .form-group
                      %textarea.form-control{:id => "", :name => "", :placeholder => "Review", :rows => "4"}
                  .col-sm-12
                    %button.btn.btn-round.btn-d{:type => "submit"} Submit Review
            / Review form end
          / Tab end
        / Tab panes end
    / .row
/ Divider
%hr.divider-w/
%section.module
  .container
    .row
      .col-sm-6.col-sm-offset-3
        %h2.module-title.font-alt Previous vintages of this wine
    / .row
    .row
      / Owl-carousel start
      .owl-carousel.text-center{"data-items" => "5", "data-navigation" => "false", "data-pagination" => "false"}
        / ex-product start
        - @wine.previous_vintages.each do |pv|
          .owl-item
            .col-sm-12
              .ex-product
                %a{:href => "#"}
                  = link_to(image_tag(pv.default_photo.image.thumb('250x300#').url), winery_wine_path(pv.winery.slug, pv.slug))
                %h4.shop-item-title.font-alt
                  = pv.vintage
                  = pv.name
                = "\$" + pv.price

