/
  DESCRIPTION
  \=================================
%section#about.about-section.section
  .container
    %h2.section-heading.text-center About Drew
    .about-row.row
      / DESCRIPTION IMAGE
      .about-image.col-md-6{"data-animation" => "fadeIn"}
        = image_tag "contents/about.jpg"
        / %img{:alt => "Description Image", :src => "images/contents/about.jpg"}/
      / DESCRIPTION TEXT
      .about-text.col-md-6
        %p.lead Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae. Vivamus eu sollicitudin lacus, nec ultricies lorem.
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat arcu ut orci porta, eget porttitor felis suscipit. Sed a nisl ullamcorper, tempus augue at, rutrum lacus. Duis et turpis eros. Duis ex metus, facilisis nec porta non, accumsan vel turpis. Proin euismod, sem a mollis vestibulum, ligula elit faucibus erat, in dignissim sapien leo eget quam.
        %ul.icon-list
          %li
            %span.icon-list-icon.fa.fa-hand-o-up{"data-animation" => "bounceIn"}
            %h4.icon-list-title Click Through
            %p Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.
          %li
            %span.icon-list-icon.fa.fa-heart-o{"data-animation" => "bounceIn"}
            %h4.icon-list-title Lead Generation
            %p Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.
          %li
            %span.icon-list-icon.fa.fa-lightbulb-o{"data-animation" => "bounceIn"}
            %h4.icon-list-title Other Purposes
            %p Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.
/
  BENEFITS
  \=================================
%section#benefits.benefits-section.section-gray.section
  .container
    %h2.section-heading.text-center The Benefits
    .benefits-row.row
      / BENEFIT 1
      .col-md-4.col-sm-6
        .benefit
          %span.benefit-icon.fa.fa-bicycle{"data-animation" => "bounceIn"}
          %h4.benefit-title Built with Bootstrap 3.3
          %p.benefit-description Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae. Vivamus eu sollicitudin lacus, nec ultricies lorem.
      / BENEFIT 2
      .col-md-4.col-sm-6
        .benefit
          %span.benefit-icon.fa.fa-code{"data-animation" => "bounceIn"}
          %h4.benefit-title Quick &amp; Easy Setup
          %p.benefit-description Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae. Vivamus eu sollicitudin lacus, nec ultricies lorem.
      .hidden-md.hidden-lg.clear
      / BENEFIT 3
      .col-md-4.col-sm-6
        .benefit
          %span.benefit-icon.fa.fa-eye{"data-animation" => "bounceIn"}
          %h4.benefit-title Responsive &amp; Retina Ready
          %p.benefit-description Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae. Vivamus eu sollicitudin lacus, nec ultricies lorem.
      .hidden-sm.clear
      / BENEFIT 4
      .col-md-4.col-sm-6
        .benefit
          %span.benefit-icon.fa.fa-smile-o{"data-animation" => "bounceIn"}
          %h4.benefit-title Clean Codes &amp; Documentation
          %p.benefit-description Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae. Vivamus eu sollicitudin lacus, nec ultricies lorem.
      .hidden-md.hidden-lg.clear
      / BENEFIT 5
      .col-md-4.col-sm-6
        .benefit
          %span.benefit-icon.fa.fa-pagelines{"data-animation" => "bounceIn"}
          %h4.benefit-title Optimized for Performance
          %p.benefit-description Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae. Vivamus eu sollicitudin lacus, nec ultricies lorem.
      / BENEFIT 6
      .col-md-4.col-sm-6
        .benefit
          %span.benefit-icon.fa.fa-paperclip{"data-animation" => "bounceIn"}
          %h4.benefit-title Fit for Any Purposes
          %p.benefit-description Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae. Vivamus eu sollicitudin lacus, nec ultricies lorem.
/
  HOW IT WORKS
  \=================================
%section#how-it-works.how-it-works-section.section
  .container-fluid
    %h2.section-heading.text-center How it Works
    .hiw-row.row
      / HOW IT WORKS - ITEM 1
      .col-md-3.col-sm-6{"data-animation" => "fadeIn"}
        .hiw-item
          = image_tag "contents/hiw-item-1.jpg", alt: "", class: "hiw-item-picture"

          / %img.hiw-item-picture{:alt => "", :src => "images/contents/hiw-item-1.jpg"}/
          .hiw-item-text
            %span.hiw-item-icon 1
            %h4.hiw-item-title Choose a Layout
            %p.hiw-item-description Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae. Vivamus eu sollicitudin lacus, nec ultricies lorem.
      / HOW IT WORKS - ITEM 2
      .col-md-3.col-sm-6{"data-animation" => "fadeIn"}
        .hiw-item.even
          = image_tag "contents/hiw-item-2.jpg", alt: "", class: "hiw-item-picture"
          / %img.hiw-item-picture{:alt => "", :src => "images/contents/hiw-item-2.jpg"}/
          .hiw-item-text
            %span.hiw-item-icon 2
            %h4.hiw-item-title Edit &amp; Customize
            %p.hiw-item-description Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae. Vivamus eu sollicitudin lacus, nec ultricies lorem.
      .hidden-md.hidden-lg.clear
      / HOW IT WORKS - ITEM 3
      .col-md-3.col-sm-6{"data-animation" => "fadeIn"}
        .hiw-item
          = image_tag "contents/hiw-item-3.jpg", alt: "", class: "hiw-item-picture"
          / %img.hiw-item-picture{:alt => "", :src => "images/contents/hiw-item-3.jpg"}/
          .hiw-item-text
            %span.hiw-item-icon 3
            %h4.hiw-item-title Upload to Hosting
            %p.hiw-item-description Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae. Vivamus eu sollicitudin lacus, nec ultricies lorem.
      / HOW IT WORKS - ITEM 4
      .col-md-3.col-sm-6{"data-animation" => "fadeIn"}
        .hiw-item.even
          = image_tag "contents/hiw-item-4.jpg", alt: "", class: "hiw-item-picture"
          / %img.hiw-item-picture{:alt => "", :src => "images/contents/hiw-item-4.jpg"}/
          .hiw-item-text
            %span.hiw-item-icon 4
            %h4.hiw-item-title Finished!
            %p.hiw-item-description Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae. Vivamus eu sollicitudin lacus, nec ultricies lorem.
/
  NUMBERS
  \=================================
%section#numbers.numbers-section.section-dark.section
  .section-background
    / IMAGE BACKGROUND
    .section-background-image.parallax-background{"data-stellar-background-ratio" => "0.4"}
  .container
    %h2.section-heading.text-center Drew in Numbers
    .numbers-row.row
      / NUMBERS - ITEM 1
      .col-md-3.col-sm-6
        .numbers-item
          .numbers-item-counter
            %span.counter-up 1,269
          .numbers-item-caption Tickets solved
      / NUMBERS - ITEM 2
      .col-md-3.col-sm-6
        .numbers-item
          .numbers-item-counter
            %span.counter-up> 99.8
            \%
          .numbers-item-caption User Ratings
      / NUMBERS - ITEM 3
      .col-md-3.col-sm-6
        .numbers-item
          .numbers-item-counter
            %span.counter-up> 754
            k
          .numbers-item-caption Total Users
      / NUMBERS - ITEM 4
      .col-md-3.col-sm-6
        .numbers-item
          .numbers-item-counter
            %span.counter-up 358
            %span.fa.fa-coffee
          .numbers-item-caption Coffee Served
/
  VIDEO SECTION
  \=================================
%section#video.video-section.section-gray.section
  .container
    %h2.section-heading.text-center Watch the Video
    .row
      .col-md-10.col-md-offset-1
        .video-embed
          / VIDEO EMBED FROM VIMEO
          %iframe.video-async{:allowfullscreen => "", "data-color" => "f3ae73", "data-source" => "vimeo", "data-video" => "115134273"}
          / VIDEO EMBED FROM YOUTUBE
          / <iframe class="video-async" data-source="youtube" data-video="7UAy8E3e9f8" allowfullscreen></iframe>
/
  TEAM
  \=================================
%section#team.team-section.section
  .container-fluid
    %h2.section-heading.text-center Meet The Experts
    .team-row.row
      / TEAM MEMBER 1
      .col-lg-2.col-md-4.col-sm-6{"data-animation" => "fadeIn"}
        .team-member
          = image_tag "contents/team-member-1.jpg", alt: "", class: "hiw-item-picture"
          / %img.team-member-picture{:alt => "", :src => "images/contents/team-member-1.jpg"}/
          .team-member-text
            %h4.team-member-name Jason Castillo
            .team-member-position CEO &amp; Co-Founder
            %p.team-member-description Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.
      / TEAM MEMBER 2
      .col-lg-2.col-md-4.col-sm-6{"data-animation" => "fadeIn"}
        .team-member.even
          = image_tag "contents/team-member-2.jpg", alt: "", class: "hiw-item-picture"
          / %img.team-member-picture{:alt => "", :src => "images/contents/team-member-2.jpg"}/
          .team-member-text
            %h4.team-member-name Harold Kelly
            .team-member-position CTO &amp; Co-Founder
            %p.team-member-description Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.
      .hidden-md.hidden-lg.clear
      / TEAM MEMBER 3
      .col-lg-2.col-md-4.col-sm-6{"data-animation" => "fadeIn"}
        .team-member
          = image_tag "contents/team-member-3.jpg", alt: "", class: "hiw-item-picture"
          / %img.team-member-picture{:alt => "", :src => "images/contents/team-member-3.jpg"}/
          .team-member-text
            %h4.team-member-name Kathy Nelson
            .team-member-position Graphic Designer
            %p.team-member-description Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.
      .hidden-sm.hidden-lg.clear
      / TEAM MEMBER 4
      .col-lg-2.col-md-4.col-sm-6{"data-animation" => "fadeIn"}
        .team-member.even
          = image_tag "contents/team-member-4.jpg", alt: "", class: "hiw-item-picture"
          / %img.team-member-picture{:alt => "", :src => "images/contents/team-member-4.jpg"}/
          .team-member-text
            %h4.team-member-name Dylan Fowler
            .team-member-position UI/UX Designer
            %p.team-member-description Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.
      .hidden-md.hidden-lg.clear
      / TEAM MEMBER 5
      .col-lg-2.col-md-4.col-sm-6{"data-animation" => "fadeIn"}
        .team-member
          = image_tag "contents/team-member-5.jpg", alt: "", class: "hiw-item-picture"
          / %img.team-member-picture{:alt => "", :src => "images/contents/team-member-5.jpg"}/
          .team-member-text
            %h4.team-member-name Carolyn Harvey
            .team-member-position Development
            %p.team-member-description Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.
      / TEAM MEMBER 6
      .col-lg-2.col-md-4.col-sm-6{"data-animation" => "fadeIn"}
        .team-member.even
          = image_tag "contents/team-member-6.jpg", alt: "", class: "hiw-item-picture"
          / %img.team-member-picture{:alt => "", :src => "images/contents/team-member-6.jpg"}/
          .team-member-text
            %h4.team-member-name Diane Grant
            .team-member-position Marketing &amp; Strategy
            %p.team-member-description Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.
/
  TWO COLS DESCRIPTION SECTION
  \=================================
%section#two-cols-description.two-cols-description-section.section-accent.section
  .container-fluid
    .two-cols-description-row.row
      / TWO COLS DESCRIPTION IMAGE
      .two-cols-description-image.col-md-6.col-md-push-6{"data-animation" => "fadeInRight"}
      / TWO COLS DESCRIPTION TEXT
      .two-cols-description-text.col-md-6.col-md-pull-6{"data-animation" => "fadeInLeft"}
        .two-cols-description-text-inner
          %h2.section-heading.text-left Two Columns Section
          %p You can put image / video embed in the column to the right. If you like, you can also swap the columns, which means this text column will be on the right hand side, while the image column is on the left. While on this column, you may want to put some description paragraphs or a nice list like below:
          %ul.nice-list
            %li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            %li Sed feugiat arcu ut orci porta, eget porttitor felis suscipit.
            %li Sed a nisl ullamcorper, tempus augue at, rutrum lacus. Duis et turpis eros.
/
  PRICING SECTION
  \=================================
%section#pricing.pricing-section.section
  .container
    %h2.section-heading.text-center Pricing Table
    .row.text-center
      .col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
        %p Maecenas mollis rutrum bibendum. Etiam mollis diam risus, at varius ex dapibus sed. In in leo at sapien placerat sagittis.
    / PRICING TABLE
    .pricing-table.row
      / PRICING PACKAGE 1
      .col-md-4.col-md-offset-0.col-sm-6.col-sm-offset-3{"data-animation" => "fadeInUp"}
        .pricing-package
          .pricing-package-header
            %h4.price-title Personal
            .price
              %span.price-currency $
              %span.price-number 0
              %span.price-decimal
            .price-description FREE Forever
          %ul.pricing-package-items
            %li Up to 20 Projects
            %li 500MB Harddisk Space
            %li Up to 1000 Monthly Visitors
            %li
              %del Custom Domain
            %li
              %del Premium Themes Access
            %li 24/7 Customer Support
      / PRICING PACKAGE 2
      .col-md-4.col-md-offset-0.col-sm-6.col-sm-offset-3{"data-animation" => "fadeInUp"}
        .pricing-package.pricing-package-featured
          .pricing-package-header
            %h4.price-title Professional
            .price
              %span.price-currency $
              %span.price-number 13
              %span.price-decimal 99
            .price-description Billed monthly
            .price-featured Most Popular
          %ul.pricing-package-items
            %li Up to 200 Projects
            %li 5GB Harddisk Space
            %li Unlimited Visitors
            %li Custom Domain
            %li
              %del Premium Themes Access
            %li 24/7 Customer Support
      / PRICING PACKAGE 3
      .col-md-4.col-md-offset-0.col-sm-6.col-sm-offset-3{"data-animation" => "fadeInUp"}
        .pricing-package
          .pricing-package-header
            %h4.price-title Enterprise
            .price
              %span.price-currency $
              %span.price-number 69
              %span.price-decimal 99
            .price-description Billed monthly
          %ul.pricing-package-items
            %li Unlimited Projects
            %li Unlimited Harddisk Space
            %li Unlimited Visitors
            %li Custom Domain
            %li Premium Themes Access
            %li 24/7 Customer Support
/
  TESTIMONIALS
  \=================================
%section#testimonial.testimonial-section.section-gray.section
  .section-background
    / IMAGE BACKGROUND
    .section-background-image.parallax-background{"data-stellar-background-ratio" => "0.4"}
  .container
    %h2.section-heading.text-center Trusted by Thousands
    .sponsors-row{"data-animation" => "bounceIn"}
      = image_tag "contents/sponsor-1.png", alt: ""
      = image_tag "contents/sponsor-2.png", alt: ""
      = image_tag "contents/sponsor-3.png", alt: ""
      = image_tag "contents/sponsor-4.png", alt: ""

      / %img{:alt => "", :src => "images/contents/sponsor-1.png"}/
      / %img{:alt => "", :src => "images/contents/sponsor-2.png"}/
      / %img{:alt => "", :src => "images/contents/sponsor-3.png"}/
      / %img{:alt => "", :src => "images/contents/sponsor-4.png"}/
    .testimonial-row.row
      / TESTIMONIAL ITEM 1
      .col-sm-6
        .testimonial
          %blockquote.testimonial-quote
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla lectus dui, volutpat sed velit congue, pulvinar tristique nisi. Maecenas mollis rutrum bibendum. Etiam mollis diam risus, at varius ex dapibus sed. In in leo at sapien placerat sagittis.
          %span.testimonial-ratings
            %span.fa.fa-star
            %span.fa.fa-star
            %span.fa.fa-star
            %span.fa.fa-star
            %span.fa.fa-star
          %cite.testimonial-cite John Doe, Company Inc.
      / TESTIMONIAL ITEM 2
      .col-sm-6
        .testimonial
          %blockquote.testimonial-quote
            %p Nulla lectus dui, volutpat sed velit congue, pulvinar tristique nisi. Maecenas mollis rutrum bibendum. Etiam mollis diam risus, at varius ex dapibus sed. In in leo at sapien placerat sagittis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          %span.testimonial-ratings
            %span.fa.fa-star
            %span.fa.fa-star
            %span.fa.fa-star
            %span.fa.fa-star
            %span.fa.fa-star-half-o
          %cite.testimonial-cite Dohn Joe, Internet Marketer
/
  CLOSING
  \=================================
%section#closing.closing-section.section-dark.section
  .section-background
    / IMAGE BACKGROUND
    .section-background-image.parallax-background{"data-stellar-background-ratio" => "0.4"}
  .container
    %h3.closing-shout Ready to start? Take the first step by clicking the button below
    .closing-buttons{"data-animation" => "tada"}
      %a.anchor-link.btn.btn-lg.btn-primary{:href => "#hero"} Footer Action Button