!!!
%html{:lang => "en"}
  %head
    = render 'head'
  %body
    = render 'preloader'

    = yield :header
    = yield :carousel
    .main
      = yield
      /   %hr.divider-d/
      /   / = render 'widgets'

      / = yield :footer
      = render "scroll_up"
      = render "footer"


