!!!
%html{:lang => "en"}
  %head
    = render 'head'
  %body
    = render 'preloader'
    = content_for?(:header) ? yield(:header) : (render 'header')
    = render 'messages'
    = yield :top

    .main
      = content_for?(:main) ? yield(:main) : yield

      %hr.divider-d/
      = render 'widgets'

      = render 'footer'
      = render 'scroll_up'

    %script{:src => "http://maps.google.com/maps/api/js?sensor=true", :type => "text/javascript"} 
    = javascript_include_tag 'application'