!!!
%html{:lang => "en"}
  %head
    = render 'head'
    = yield :head
  %body
    = render 'preloader'
    = yield :header
    = yield :carousel 
    .main
      / = render 'messages'
      / # = content_for?(:main) ? yield(:main) : yield
      = yield
      /   %hr.divider-d/
      /   / = render 'widgets'

      / = yield :footer
      = render "scroll_up"
      = render "footer"

    %script{:src => "//maps.google.com/maps/api/js?sensor=true", :type => "text/javascript"} 
    = javascript_include_tag 'application'
