- content_for :graphic do 
  = image_path("rp-1.jpg")
- content_for :brand do 
  = link_to "Bacchan.al", root_path, class: "navbar-brand"
- content_for :navlinks do 
  = render 'application/header/authentication_links'
.main
  %section.module-small.bg-dark
    .container
      .row
        .col-sm-6.col-sm-offset-3
          %h1.module-title.font-alt
            = yield :devise_action
            = render 'messages' 
  %section.module
    .container
      .row
        .col-sm-6.col-sm-offset-3.mb-sm-40
          = yield :devise_form
          - unless user_signed_in?
            %hr
            = render "devise/shared/links" 

= render template: "layouts/application"